
<%- include("partials/header"); -%>


    
    <form class="post" action="/delete" method="post">
        <h1 name="Title" ><%=title%></h1>
        <p name="content"><%=content%></p>
        <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
    </form>


<%- include("partials/footer"); -%>
